option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "mycoolblog.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "mycoolblog/wsgi.py"
packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []
